es11-agent-routing/Es.11 – Agent Routing.json
{
  "name": "Es.11 – Agent Routing",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -64,
        32
      ],
      "id": "74592ad4-7aa1-4599-aef6-0b024a8fe024",
      "name": "Telegram Trigger",
      "webhookId": "YOUR_TELEGRAM_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "QqQqPO6fkKWM4ApX",
          "name": "Telegram_Assistente_Bot"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        192,
        272
      ],
      "id": "0a5efd8f-b810-4345-b645-6a790d60d035",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "z4r3Ydp7ELQrM5tS",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.output).route }}",
                    "rightValue": "meteo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d63c520b-27e2-466d-8042-0fa18ff1dc8d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "meteo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7dc76c16-7270-4b8b-81e4-af10fa6f4459",
                    "leftValue": "={{ JSON.parse($json.output).route }}",
                    "rightValue": "note",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "note"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2e40af72-961f-4472-8e4c-95cfc1ed92ba",
                    "leftValue": "={{ JSON.parse($json.output).route }}",
                    "rightValue": "fermate",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fermate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "240a4b3f-71b2-4196-b15e-b620b6214485",
                    "leftValue": "={{ JSON.parse($json.output).route }}",
                    "rightValue": "unknown",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "unknown"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "5dfaba3d-6d06-401d-b3ec-441e7885d2ca",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').first().json.message.text }}",
        "options": {
          "systemMessage": "Sei un assistente meteo. Fornisci informazioni meteo chiare e concise.\nRispondi sempre in italiano.\nRispondi SOLO con il messaggio finale per l'utente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        880,
        -464
      ],
      "id": "d22485ae-2c34-4ce0-876e-0602afec9027",
      "name": "AI Agent-Meteo"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        832,
        -288
      ],
      "id": "90e2b9c6-1a2b-4d95-99f7-8ef46a2f3ec9",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "z4r3Ydp7ELQrM5tS",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Recupera il meteo attuale di una città. Richiede latitude (numero decimale, es: 41.9028) e longitude (numero decimale, es: 12.4964). Non modificare l'URL.",
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "longitude",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            },
            {
              "name": "current",
              "value": "temperature_2m,weathercode"
            },
            {
              "name": "temperature_unit",
              "value": "celsius"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1136,
        -304
      ],
      "id": "51137ffd-4aae-4a6f-a4e4-724992d5637e",
      "name": "get_weather"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').first().json.message.text }}",
        "options": {
          "systemMessage": "Sei un assistente per gestire note e appunti.\nPuoi salvare nuove note e recuperare note esistenti.\nRispondi sempre in italiano.\nRispondi SOLO con il messaggio finale per l'utente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        880,
        -128
      ],
      "id": "54c566dc-9b1a-4b62-9811-69ee826c80d5",
      "name": "AI Agent-Note"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').first().json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        976,
        112
      ],
      "id": "a4c67019-82d5-4e26-aa00-d5db42f1b69e",
      "name": "Memoria-Note"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').first().json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        976,
        -256
      ],
      "id": "8c483ae7-6cb3-487a-8ba2-84b19d730323",
      "name": "Memoria-Meteo"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        832,
        64
      ],
      "id": "2a9fab7c-0ed2-4303-821f-f388d29f6dbb",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "z4r3Ydp7ELQrM5tS",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Salva una nota. Usare quando l'utente vuole salvare, annotare o ricordare qualcosa per dopo.",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1R8GQ14e6rn19Z2H6ud61Azw4PKsB0H6j2o3LGAjYg-o",
          "mode": "list",
          "cachedResultName": "notes_n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R8GQ14e6rn19Z2H6ud61Azw4PKsB0H6j2o3LGAjYg-o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Foglio1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R8GQ14e6rn19Z2H6ud61Azw4PKsB0H6j2o3LGAjYg-o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
            "Content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Content', ``, 'string') }}",
            "savedAt": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "savedAt",
              "displayName": "savedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1104,
        80
      ],
      "id": "5d3f132c-98bb-4127-af5b-97bf23d7845c",
      "name": "save_note",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JF6aAmfwyPMlt8ht",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Recupera le note salvate dall'utente. Usare quando l'utente chiede cosa ha salvato, cosa ha in agenda, o vuole ricordare qualcosa.",
        "documentId": {
          "__rl": true,
          "value": "1R8GQ14e6rn19Z2H6ud61Azw4PKsB0H6j2o3LGAjYg-o",
          "mode": "list",
          "cachedResultName": "notes_n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R8GQ14e6rn19Z2H6ud61Azw4PKsB0H6j2o3LGAjYg-o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Foglio1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R8GQ14e6rn19Z2H6ud61Azw4PKsB0H6j2o3LGAjYg-o/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1216,
        16
      ],
      "id": "9160c33b-3504-4abe-92cf-0df0225bd58b",
      "name": "get_notes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JF6aAmfwyPMlt8ht",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').first().json.message.text }}",
        "options": {
          "systemMessage": "Sei un assistente esperto di trasporto pubblico di Roma.\nAiuti gli utenti a trovare fermate dell'autobus e della metro.\nPer ogni fermata trovata, mostra sempre un link Google Maps:\nhttps://www.google.com/maps?q=LAT,LON\nRispondi sempre in italiano in modo chiaro e conciso.\nRispondi SOLO con il messaggio finale per l'utente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        880,
        240
      ],
      "id": "76c3c9d0-f235-4dd0-bcf9-1c516053313a",
      "name": "AI Agent-Fermate"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        880,
        432
      ],
      "id": "21d61c2b-51c0-4db0-b74f-349f91cccbc0",
      "name": "Groq Chat Model3",
      "credentials": {
        "groqApi": {
          "id": "z4r3Ydp7ELQrM5tS",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').first().json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1008,
        496
      ],
      "id": "097899fc-4858-4657-bd93-16b082d02424",
      "name": "Memoria-Fermate"
    },
    {
      "parameters": {
        "toolDescription": "Cerca fermate del trasporto pubblico di Roma per nome. Usa questo tool quando l'utente chiede di trovare una fermata, un capolinea o una stazione.",
        "url": "https://nrtswufdvnvgptlkqvkq.supabase.co/rest/v1/gtfs_fermate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "stop_id,stop_name,lat,lon"
            },
            {
              "name": "stop_name",
              "value": "=ilike.*{{ $fromAI('fermata') }}*"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1136,
        400
      ],
      "id": "3d3bafcc-fad9-43cc-b285-42503259ed0b",
      "name": "search_fermate",
      "credentials": {
        "supabaseApi": {
          "id": "bx9tmTGM913rd7jx",
          "name": "Supabase n8n_RAG"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37e04843-6200-4121-b2df-ff9429395130",
              "name": "output",
              "value": "Non ho capito la tua richiesta. Puoi chiedermi info su: meteo, note, fermate Roma",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        672
      ],
      "id": "29e21a9d-d74e-4372-a86b-a17d4575ab6b",
      "name": "Unknown"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1584,
        48
      ],
      "id": "3060ec57-cd26-4779-be52-d281034d6048",
      "name": "Send a text message",
      "webhookId": "73c7fada-d795-4fbc-9a0d-95874af156ee",
      "credentials": {
        "telegramApi": {
          "id": "QqQqPO6fkKWM4ApX",
          "name": "Telegram_Assistente_Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "**Es.11 – Agent Routing**\n\n**OBIETTIVO:** Router Agent che smista messaggi \nTelegram verso 3 sotto-agenti specializzati.\n\n**FLUSSO:**\nTelegram → Router Agent → Switch Node\n  ├── meteo → Agente Meteo (open-meteo)\n  ├── note → Agente Note (Google Sheets)\n  ├── fermate → Agente Fermate (Supabase)\n  └── unknown → Edit Fields (messaggio statico)\n\n**CONCETTI CHIAVE:**\n- Router: no memory, no tool, solo JSON output\n- Switch legge: JSON.parse($json.output).route\n- Sub-agenti: usare .first() non .item.\n- Limitazione: gestisce 1 intent (cosa vuole fare l'utente dietro al messaggio, l'intenzione dell'utente) alla volta\n  → Es.12 risolve con vero Multi-Agent\n\n**TECH:** Groq 70b | Telegram | Simple Memory",
        "height": 400,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        -80
      ],
      "id": "600bf6ab-1ad8-445f-b3b3-4d6e31e0bc96",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "**ESEMPIO PRATICO INTENT:**\n**1.** \"Che tempo fa a Roma?\" --> intent: meteo (vuole sapere il meteo)\n**2.** \"Salva una nota: riunione alle 15\" --> intente: nota (vuole salvare una nota)\n**3.** \"Dove si trova la fermata Spagna?\" --> intent: fermata (vuole trovare una fermata)\n\nQuindi il Router Agent non legge parola per parola, capscie l'intenzione dietro al messaggio e la classifica in una categoria.",
        "height": 192,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        336
      ],
      "id": "cc456d85-1212-4cab-99ef-1d0622947c9e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "Sei un router. Analizza il messaggio dell'utente e rispondi SOLO con un JSON.\n\nRegole:\n- Se riguarda meteo, temperatura, pioggia → route: \"meteo\"\n- Se riguarda note, appunti, salvare, ricordare → route: \"note\"\n- Se riguarda fermate, autobus, metro, trasporti Roma → route: \"fermate\"\n- Se non capisci → route: \"unknown\"\n\nRispondi SEMPRE e SOLO con questo formato:\n{\"route\": \"meteo\"}\n\nNessun testo prima o dopo. Solo JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        32
      ],
      "id": "24d78ddd-87cc-401e-b036-100d6c30f5af",
      "name": "AI Agent-Routing"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent-Routing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent-Routing",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent-Meteo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent-Note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent-Fermate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent-Meteo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get_weather": {
      "ai_tool": [
        [
          {
            "node": "AI Agent-Meteo",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memoria-Note": {
      "ai_memory": [
        [
          {
            "node": "AI Agent-Note",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Memoria-Meteo": {
      "ai_memory": [
        [
          {
            "node": "AI Agent-Meteo",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent-Note",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "save_note": {
      "ai_tool": [
        [
          {
            "node": "AI Agent-Note",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_notes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent-Note",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent-Fermate",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria-Fermate": {
      "ai_memory": [
        [
          {
            "node": "AI Agent-Fermate",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "search_fermate": {
      "ai_tool": [
        [
          {
            "node": "AI Agent-Fermate",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Unknown": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent-Fermate": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent-Note": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent-Meteo": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent-Routing": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "be3990a7-994a-453a-8f4a-70df35dde66c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e374609afe687e3e32ee92cbc3a42394013d2e233db99b1f9bb8c3058d8e773"
  },
  "id": "yni5PrHm93TD59Ju",
  "tags": []
}
