es12-multi-agent/Es.12 - Worker-Fermate.json
{
  "name": "Es.12 - Worker-Fermate",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "335b95b9-b298-4828-b9b3-2c91da1ad2fa",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Sei un assistente esperto di trasporto pubblico di Roma.\nAiuti gli utenti a trovare fermate dell'autobus e della metro.\nPer ogni fermata trovata, mostra sempre un link Google Maps:\nhttps://www.google.com/maps?q=LAT,LON\nRispondi sempre in italiano in modo chiaro e conciso.\nRispondi SOLO con il messaggio finale per l'utente.",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "de9a811a-c5aa-4433-b06f-98387a750f3a",
      "name": "AI Agent-Fermate"
    },
    {
      "parameters": {
        "toolDescription": "Cerca fermate del trasporto pubblico di Roma per nome. Usa questo tool quando l'utente chiede di trovare una fermata, un capolinea o una stazione.",
        "url": "https://nrtswufdvnvgptlkqvkq.supabase.co/rest/v1/gtfs_fermate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "stop_id,stop_name,lat,lon"
            },
            {
              "name": "stop_name",
              "value": "=ilike.*{{ $fromAI('fermata') }}*"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        416,
        240
      ],
      "id": "3de407a9-9ced-402a-b88a-1a0eb504fe02",
      "name": "HTTP Request",
      "credentials": {
        "supabaseApi": {
          "id": "bx9tmTGM913rd7jx",
          "name": "Supabase n8n_RAG"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        128,
        256
      ],
      "id": "3220926b-e381-46e8-942c-ef75c4b4949c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ffNo0L3Up3uVkTQV",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "content": "**ES.12 – WORKER FERMATE**\nExecute Workflow Trigger → AI Agent Fermate\nPrompt: $json.query | Tool: search_fermate (Supabase)\nNo memory | Temp: 0.0 | MaxIter: 5\n\n⚠️ NON usare Respond to Webhook: AI Agent è l'ultimo nodo",
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -512,
        0
      ],
      "id": "e05b1f77-4b55-4dee-8f32-60e535fc5563",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent-Fermate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent-Fermate": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent-Fermate",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent-Fermate",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "235541c3-4054-4746-b014-aefae44184c6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e374609afe687e3e32ee92cbc3a42394013d2e233db99b1f9bb8c3058d8e773"
  },
  "id": "p7xgiMox0ySk2DY4",
  "tags": []
}