es13-personal-assistant/ES.13 - Worker_Contacts.json
{
  "name": "ES.13 - Worker_Contacts",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "0a243543-5a48-42ce-b352-c88a19307812",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a helpful assistant",
          "maxIterations": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "2c8bc608-47ac-42c8-9cfa-b5fdf306d873",
      "name": "AI Agent-Contacts"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "6b07c4ed-d3c8-4fc3-81c3-bb0e160c0941",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ffNo0L3Up3uVkTQV",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usa questo tool per cercare e recuperare contatti",
        "operation": "getAll",
        "returnAll": true,
        "fields": [
          "names",
          "emailAddresses",
          "phoneNumbers"
        ],
        "useQuery": true,
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        240,
        256
      ],
      "id": "098cf6c9-a0f5-4b54-aff0-b72823a66194",
      "name": "Get",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "oiSOFdHDrz6y1EUD",
          "name": "Google Contacts account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usa questo tool per creare un nuovo contatto in Google Contacts.",
        "familyName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Family_Name', ``, 'string') }}",
        "givenName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Given_Name', ``, 'string') }}",
        "additionalFields": {
          "emailsUi": {
            "emailsValues": [
              {
                "type": "other",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('emailsValues0_Value', ``, 'string') }}"
              },
              {
                "type": "work",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('emailsValues1_Value', ``, 'string') }}"
              }
            ]
          },
          "phoneUi": {
            "phoneValues": [
              {
                "type": "mobile",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phoneValues0_Value', ``, 'string') }}"
              },
              {
                "type": "home",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phoneValues1_Value', ``, 'string') }}"
              },
              {
                "type": "work",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phoneValues2_Value', ``, 'string') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        368,
        256
      ],
      "id": "1411e099-1115-4504-ab84-65a060f5762d",
      "name": "Create",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "oiSOFdHDrz6y1EUD",
          "name": "Google Contacts account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usa questo tool per aggiornare un contatto esistente in Google Contacts.",
        "operation": "update",
        "contactId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contact_ID', ``, 'string') }}",
        "fields": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fields', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        496,
        256
      ],
      "id": "deb0bf90-3e86-4fc7-80e4-a59f38015a25",
      "name": "Update",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "oiSOFdHDrz6y1EUD",
          "name": "Google Contacts account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent-Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent-Contacts",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "ai_tool": [
        [
          {
            "node": "AI Agent-Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create": {
      "ai_tool": [
        [
          {
            "node": "AI Agent-Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update": {
      "ai_tool": [
        [
          {
            "node": "AI Agent-Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "11846b8f-0f6a-4f16-b562-99a3cf03138e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e374609afe687e3e32ee92cbc3a42394013d2e233db99b1f9bb8c3058d8e773"
  },
  "id": "vLyDUVAlYpa5HW6t",
  "tags": []
}