es13-personal-assistant/Es.13 - Worker_Email.json
{
  "name": "Es.13 - Worker_Email",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "f3402fbf-a922-4ffb-8ed2-567e28dcbc42",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Sei un agente specializzato nella gestione delle email tramite Gmail.\n\nPuoi leggere, cercare, inviare e gestire le email dell'utente.\n\nRicevi la richiesta nel campo 'query' e la esegui usando i tool Gmail disponibili.\n\nRispondi sempre in italiano in modo chiaro e conciso.",
          "maxIterations": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "40aa0bfd-5685-4524-b486-de5b936870d6",
      "name": "AI Agent-Email"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        48,
        240
      ],
      "id": "6e08649c-8d10-4e30-ae62-eb4a98779399",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ffNo0L3Up3uVkTQV",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usa questo tool per leggere, cercare e recuperare email della casella Gmail.",
        "operation": "getAll",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        240,
        256
      ],
      "id": "0125e442-ef05-4b3c-9c7b-45b4b1e56c2f",
      "name": "Get",
      "webhookId": "eefd47aa-de39-489c-a808-2100944deb66",
      "credentials": {
        "gmailOAuth2": {
          "id": "oB9N6tLJ7kQIgVsU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usa questo tool per inviare una nuova email tramite Gmail.",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        352,
        256
      ],
      "id": "595ab2e2-279f-4720-a74a-d79326c2e1c9",
      "name": "Send",
      "webhookId": "9c81f3de-fde1-4fde-a814-a16d0c39ff14",
      "credentials": {
        "gmailOAuth2": {
          "id": "oB9N6tLJ7kQIgVsU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usa questo tool per rispondere a un'email esistente tramite Gmail.",
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        464,
        256
      ],
      "id": "b2d9c382-cfcc-4855-9f0d-93d352144134",
      "name": "Reply",
      "webhookId": "08277707-8280-47c2-ad6d-38db9e079543",
      "credentials": {
        "gmailOAuth2": {
          "id": "oB9N6tLJ7kQIgVsU",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent-Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent-Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "ai_tool": [
        [
          {
            "node": "AI Agent-Email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send": {
      "ai_tool": [
        [
          {
            "node": "AI Agent-Email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply": {
      "ai_tool": [
        [
          {
            "node": "AI Agent-Email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3eda4e46-cc6a-4109-8eb0-ae7cdf35f254",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e374609afe687e3e32ee92cbc3a42394013d2e233db99b1f9bb8c3058d8e773"
  },
  "id": "0sD2ovv85SFymqI3",
  "tags": []
}