es13-personal-assistant/Es.13 - Worker_Knowledge.json
{
  "name": "Es.13 - Worker_Knowledge",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "6b6fedf2-aae4-4cc9-96b2-5e4cfd491290",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Sei un assistente esperto del corso di Intelligenza Artificiale.\nRispondi in italiano usando SOLO le informazioni trovate nei documenti.\nSe l'informazione non è presente nei documenti, dillo chiaramente.\nSii preciso e conciso.",
          "maxIterations": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "c4ae7d73-7e84-4bd4-955c-f6f27b08cb19",
      "name": "AI Agent-Knowledge"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "76283629-f149-4bfe-9455-e8d3ab19f4d3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ffNo0L3Up3uVkTQV",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Cerca informazioni nei documenti del corso di Intelligenza Artificiale. \nUsalo per rispondere a domande su AI, machine learning, automazione e n8n.",
        "tableName": {
          "__rl": true,
          "value": "ia_documents",
          "mode": "list",
          "cachedResultName": "ia_documents"
        },
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        432,
        176
      ],
      "id": "147a9005-5d48-47d2-93f4-c824753bee49",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "bx9tmTGM913rd7jx",
          "name": "Supabase n8n_RAG"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        432,
        352
      ],
      "id": "7876ee2c-d2fc-4eb1-a59a-96070a24fef4",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ffNo0L3Up3uVkTQV",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent-Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent-Knowledge",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent-Knowledge",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8eb6e421-1dcc-47bf-b030-54a05df713e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e374609afe687e3e32ee92cbc3a42394013d2e233db99b1f9bb8c3058d8e773"
  },
  "id": "XCk3pGAi217aP0DH",
  "tags": []
}