es13-personal-assistant/Es.13 - Worker_Calendar.json
{
  "name": "Es.13 - Worker_Calendar",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "e0e3b371-4151-4538-9f37-415d1c506dc6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        112,
        288
      ],
      "id": "f795119d-7bf1-4a2c-8d72-2ef19f7cf170",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ffNo0L3Up3uVkTQV",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usa questo tool per leggere e cercare eventi nel calendario.",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "YOUR_GMAIL_ADDRESS",
          "mode": "list",
          "cachedResultName": "YOUR_GMAIL_ADDRESS"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        256,
        288
      ],
      "id": "ed9d3298-8cfe-446b-bdd5-df37827ef706",
      "name": "Get",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "hCPObpkvovC8kgDs",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usa questo tool per eliminare un evento dal calendario.",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "YOUR_GMAIL_ADDRESS",
          "mode": "list",
          "cachedResultName": "YOUR_GMAIL_ADDRESS"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        368,
        288
      ],
      "id": "f30959da-c28d-4eff-af89-3998056d3dba",
      "name": "Delete",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "hCPObpkvovC8kgDs",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usa questo tool per creare un nuovo evento nel calendario.",
        "calendar": {
          "__rl": true,
          "value": "YOUR_GMAIL_ADDRESS",
          "mode": "list",
          "cachedResultName": "YOUR_GMAIL_ADDRESS"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        480,
        288
      ],
      "id": "7210e679-9909-49fe-8d80-c86ae520dcfe",
      "name": "Create",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "hCPObpkvovC8kgDs",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Sei un agente specializzato nella gestione del calendario tramite Google Calendar.\n\nPuoi leggere eventi esistenti, creare nuovi eventi e eliminare eventi.\n\nRicevi la richiesta nel campo 'query' e la esegui usando i tool Google Calendar disponibili.\n\nRispondi sempre in italiano in modo chiaro e conciso.",
          "maxIterations": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "952e5e5b-e4a1-4873-b68d-da5a224b5585",
      "name": "AI Agent-Calendar"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent-Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent-Calendar",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "ai_tool": [
        [
          {
            "node": "AI Agent-Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete": {
      "ai_tool": [
        [
          {
            "node": "AI Agent-Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create": {
      "ai_tool": [
        [
          {
            "node": "AI Agent-Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "778d45dc-d130-48b2-8cfe-84917b857a95",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e374609afe687e3e32ee92cbc3a42394013d2e233db99b1f9bb8c3058d8e773"
  },
  "id": "dYmdTpk9mjQ8IV1X",
  "tags": []
}