es13-personal-assistant/Es.13 - Worker_Meteo.json
{
  "name": "Es.13 - Worker_Meteo",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "1fb7629e-20b7-47fd-9d05-717cec2555fa",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Sei un esperto meteo. Usa il tool get_weather per ottenere \nle condizioni meteo della città richiesta.\n\nSe l'utente chiede il meteo attuale, usa i dati \"current\".\nSe l'utente chiede le previsioni future, usa i dati \"daily\" \ne presentali giorno per giorno in italiano con temperatura \nmassima, minima, condizioni e precipitazioni.\n\nNON aggiungere informazioni non richieste dall'utente.\nRispondi SOLO a ciò che viene esplicitamente domandato.",
          "maxIterations": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "ebb37f3b-6f7f-4a52-99ca-e96b180aff31",
      "name": "AI Agent-Meteo"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        144,
        224
      ],
      "id": "3ab27981-24b5-443c-947f-cd544efca222",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ffNo0L3Up3uVkTQV",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Recupera il meteo attuale di una città. Richiede latitude (numero decimale, es: 41.9028) e longitude (numero decimale, es: 12.4964). Non modificare l'URL.",
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "longitude",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            },
            {
              "name": "current",
              "value": "temperature_2m,weathercode,windspeed_10m"
            },
            {
              "name": "temperature_unit",
              "value": "celsius"
            },
            {
              "name": "timezone",
              "value": "auto"
            },
            {
              "name": "daily",
              "value": "temperature_2m_max,temperature_2m_min,weathercode,precipitation_sum"
            },
            {
              "name": "forecast_days",
              "value": "7"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        432,
        208
      ],
      "id": "e4457a77-eb66-4f1d-a0e8-3c683d681bb9",
      "name": "get_weather"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent-Meteo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent-Meteo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get_weather": {
      "ai_tool": [
        [
          {
            "node": "AI Agent-Meteo",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f1865162-b963-4931-beab-84aa21d74829",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e374609afe687e3e32ee92cbc3a42394013d2e233db99b1f9bb8c3058d8e773"
  },
  "id": "qumICReIddlp4D4S",
  "tags": []
}