es13-personal-assistant/Es.13 - Ingestion_Knowledge.json
{
  "name": "Es.13 - Ingestion_Knowledge",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4b861938-f4d2-48c0-872f-3ea12e039e05",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "10b6e5fe-842c-451c-bb31-c33ce36f9791",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NBoGBxMJ0qjUFbjO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "acdc2d98-dd3f-4597-8a62-b9a703e5395e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NBoGBxMJ0qjUFbjO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        784,
        240
      ],
      "id": "e7eb89fd-3612-4a0c-841d-80b8ae7de51c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "ia_documents",
          "mode": "list",
          "cachedResultName": "ia_documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        624,
        0
      ],
      "id": "372b07b0-88ad-4482-81d5-393a6f379647",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "bx9tmTGM913rd7jx",
          "name": "Supabase n8n_RAG"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        240
      ],
      "id": "909d6ae4-6e31-43d1-8b15-b53937d7829f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ffNo0L3Up3uVkTQV",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d6810ae3-d0ea-4758-8ccf-33099c18d17a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e374609afe687e3e32ee92cbc3a42394013d2e233db99b1f9bb8c3058d8e773"
  },
  "id": "6j8bHwHQsA9i0kKS",
  "tags": []
}